

<div id='photo-container'>

  <div id='selector'></div>

  <div class="names hidden">
    <div class="names-content">
      <ul class="list-content">
        <li>Joseph</li>
        <li>Jerry</li>
        <li>John</li>
        <li>Jim</li>
        <li>Jill</li>
      </ul>
    <div>
  </div>
</div>