

<div id='photo-container'>

  <div id='selector'></div>
  <img src='/assets/waldo.jpg'>
  <div class="names hidden">
    <div class="names-content">
      <ul class="list-content">
        <li>WALDO</li>
        <li>WENDA</li>
        <li>ODLAW</li>
        <li>WIZARD</li>
        <li>WOOF</li>
      </ul>
    <div>
  </div>
</div>