

<div id='photo-container'>

  <div id='selector'></div>
  <img src='/assets/waldo.jpg'>
  <div class="names hidden">
    <div class="names-content">
      <ul class="list-content">
        <li>Waldo</li>
        <li>Wenda</li>
        <li>Odlaw</li>
        <li>Wizard Whitebeard</li>
        <li>Woof</li>
      </ul>
    <div>
  </div>
</div>